
<section class="library">
    <h2>Choose Your Adventure</h2>
    {{#each state.library}}
        <div class="book-card">
            <h3>{{this.title}}</h3>
            <p>{{this.summary}}</p>
        </div>
    {{/each}}
</section>

<div>
    {{> signature}}
</div>
