<div>
    Count: <span id="counter" hx-get="/counter" hx-trigger="click" hx-swap="innerHTML">{{count}}</span>
    <p><small>(Click the number to increment)</small></p>
</div>
<div>
    {{> signature}}
</div>
