@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

header {
  display: flex;
  flex-direction: row;

  align-items: center;

  justify-content: space-between;

  h1 {
    a {
      text-decoration: none;
      color: var(--text-1);
    }
  }

  form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  section {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  padding-left: 1rem;
  padding-right: 1rem;
}

main {
  padding: 1rem;
}

.choices {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.choice {
  padding: 0.5rem;
  border: 1px solid var(--gray-3);
  border-radius: var(--radius-2);
  cursor: pointer;
}

.choice a {
  text-decoration: none;
  color: var(--text-1);
  display: block;
  height: 100%;
  width: 100%;
}

.choice:hover {
  background-color: var(--gray-1);
}

/* button variant text */

button[variant="text"] {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background: transparent;
  color: var(--color-primary);
  border: none;
  box-shadow: none;
}
