<div class="login-form">
    <form hx-post="/login" hx-swap="outerHTML">
        {{#if error}}
        <div class="error" style="color: red; margin-bottom: 10px;">
            {{error}}
        </div>
        {{/if}}
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
</div>
