<section id="login-section">
    {{#if error}}
    <p role="alert">{{error}}</p>
    {{/if}}
    <form hx-post="/login" hx-swap="outerHTML" hx-target="#login-section">
        <fieldset>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </fieldset>
        <fieldset>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </fieldset>
        <button type="submit">Login</button>
    </form>
</section>
